*{margin:0;padding:0;box-sizing: border-box;}
html{font-size: 62.5%;scroll-behavior: smooth}

@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Libre+Baskerville:wght@400;700&display=swap');

h1{font-size: 4rem;color: #fff;}
h2{font-size: 2.5rem;color: aquamarine;}
p{font-size: 2rem;color: black;}
.flex-1{
  display: flex;justify-content: space-between;align-items: center;   
}

header,#first-section,.card-container{
    padding: 0 10rem;
}
header{
    position: relative;
    z-index: -1;
    height: 100vh;
}

.logo{
    width: 35rem;
    font-family: 'Libre Baskerville', serif;
}
.menu-section{transform:translateX(-6rem)}
nav{margin-top: 3rem;}
.menu-section ol li{
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    list-style: none;
    margin-right: 2rem;
    font-size: 1.5rem;
}
.menu-section ol li a{
    text-decoration: none;
    color: #fff;
}
section{
    position: absolute;
    height: 100vh;
    width: 100%;
    top: -10rem;
    left: 0;
    z-index: -3;
    clip-path: polygon(0 0, 100% 0, 100% 86%, 49% 100%, 49% 100%, 0 87%);
}

 /* +++++++++++++          main section styling   +++++++++++++++++ */
#first-section{padding: 3rem 12rem;}
.first-section-content h1{
    color: #000;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.second-section-content{padding: 2rem;}

 /* +++++++++++++          card section styling   +++++++++++++++++ */
.card-container{margin-top: 10rem;margin-bottom: 7rem;}
figure{
    position: relative;
    z-index: 1;
    opacity: 1;
    overflow: hidden;
    border-radius: 1.2rem;
}
figcaption{
    font-size: 2.5rem;
    font-family: 'Libre Baskerville', serif;
    background-color: #000;
    color: #fff;
    top: 0;
    left: 0;
    height: 50rem;width:30rem;
    position: absolute;
    z-index: -2;
    display: grid;
    place-items: center;
}

figure img:hover{
    transform: scale(1.1);
    transition: all .3s linear;
    opacity: 0.4;
}

/* ++++++++++++++++++++     Navbar Item styling ++++++++++++++++++++ */
#nav-bar{
    height: 5rem;
    width: 46rem;
    box-shadow: 0 1.3rem .3rem .2rem rgb(218, 216, 216);
    transform: translate(0rem, 5rem);
    margin: auto;
}
.nav-bar_content{
    font-size: 1.2rem;
    justify-content: space-around !important;
    width: 40rem;
    margin: auto;
    margin-top: 1rem;
}
.nav-bar_content a{
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Fredoka', sans-serif;
}
.nav-bar_content a:hover{
    border-bottom: .5rem solid rgb(204, 117, 19);
    transition: all 2s linear;
}



/* ++++++++++++++++++++     Menu Item styling ++++++++++++++++++++ */
.items-container{
    border: none;
    width: 40rem;
    padding: 0 3rem;
    box-shadow: 0 1rem .5rem .4rem rgb(0, 0, 0,0.3);
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 10rem;
}
.items-container h1{color: #000;}
.items-container p{margin-top: 3rem;font-size: 1.3rem;margin-bottom: 2rem;}

/* ++++++++++++++++++++     Ternary Item styling ++++++++++++++++++++ */
.ternary-section{
    margin-top: 13rem;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around !important;
}
